.header{
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.container{
    display:flex;
}

.small-div{
    width:100px;
    height: 150px;
    background-color: dimgray;
    padding: 10px;
}
a:link,a:visited{
    color: white;
}

.large-div{
    flex-grow:1 ;
    background-color: slategray;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap:10px;
}

.product{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.pic{
    width: 90%;
}
.price{
    position: relative;
    margin-top: 10px;
}
.original-price{
    text-decoration: line-through;
    color: red;
}

.discounted-price{
    color: #1f0946;
}

.product-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;

}

.product-images{
    width: 40%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.product-images-img{
    width: 150px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product-description{
    clear: both;
    margin: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}